body {
    margin: 0;
}

/* Form design */
.Form-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(98, 98, 98);
}

#registerForm {
    display: block;
    padding: 20px;
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(69, 69, 69);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
}

.Coupling-div {
    display: flex;
    background-color: white;
    border-radius: 10px;
    width: 60%;
    max-width: 900px;
    flex-direction: row;
}

.Coupling-div > .Left-Side {
    padding: 20px;
    text-align: center;
    font-style: italic;
}

#registerForm > input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

#registerForm > a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(255, 112, 112);
}

/* Error message design */
#response {
    display: none;
    background-color: #f44336;
    color: white;
    padding: 10px;
    margin: 10px 0;
}

.Mobile{
    display: none;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .Coupling-div {
        flex-direction: column;
        width: 80%;
    }

    .Coupling-div > .Left-Side {
        max-width: 100%;
    }

    #registerForm {
        border-radius: 0px;
    }

    .Desktop{
        display: none;
    }

    .Mobile{
        display: flex;
    }
}

@media (max-width: 480px) {
    .Coupling-div {
        width: 90%;
    }

    #registerForm {
        padding: 15px;
    }

    #registerForm > input {
        padding: 8px;
    }

    #registerForm > a {
        margin-top: 15px;
    }
}

@media (min-width: 769px) {
    #registerForm {
        width: 50%;
    }
}